<!DOCTYPE html>
<html>
    <head>
        
            <title>Page 2</title>
            <meta name="title" content="Page 2">
        

        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 


        <meta charset="utf-8">

        
            
            <link rel="shortcut icon" href="cv08300-33250f0d-0664-43fc-9dbf-9d89738d114e/images/62828/f44bc6a9bb0214239dba6cb2fa2c4db7.ico" type="image/x-icon">
            <link rel="icon" href="cv08300-33250f0d-0664-43fc-9dbf-9d89738d114e/images/62828/f44bc6a9bb0214239dba6cb2fa2c4db7.ico" type="image/x-icon">
        

        
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <meta name="generator" content="Craftum CMS">
        <meta name="website_id" content="440498">
        <meta name="page_id" content="513795">
        
        
        

        <link rel="canonical" href="page2.html">
        <meta property="og:url" content="zn1428.craftum.io">
        <meta property="twitter:url" content="zn1428.craftum.io">
        <link rel="stylesheet" href="page2/css/main.css?hash=4036498675984927ac7f8d0336669bd3">
    </head>




    <body class="th1">
            
  <style>
    .bg-custom {
      background-color: #2D2926;
    }
    </style>

<style>
  .text-custom {
    color: #ffffff;
  }
  </style>
  
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-custom border-bottom shadow-sm">
    <h5 style="font-family: CustomFont;" class="my-0 mr-md-auto font-weight-normal text-custom">АО «ОДК-Климов»</h5>    
        
    <nav class="my-2 my-md-0 mr-md-3">
          
            <a href="/" style="font-family: CustomFont; color: #fff; text-decoration: none; font-size: 20px;" onmouseover="this.style.color='	#A33038';" onmouseout="this.style.color='#fff';" class="p-2">Главная</a>

            <a href="https://www.uecrus.com/about/structure/ao-odk-klimov/" style="font-family: CustomFont; color: #fff; text-decoration: none; font-size: 20px;" onmouseover="this.style.color='	#A33038';" onmouseout="this.style.color='#fff';" class="p-2">Информация</a>
            <a href="https://www.uecrus.com/contacts/" style="font-family: CustomFont; color: #fff; text-decoration: none; font-size: 20px;" onmouseover="this.style.color='	#A33038';" onmouseout="this.style.color='#fff';" class="p-2">Контакты</a>

            <!-- <a href= "/groups" style="font-family: CustomFont;  color: #fff; text-decoration: none; font-size: 20px;" onmouseover="this.style.color='	#A33038';" onmouseout="this.style.color='#fff';" class="p-2">Группы</a> -->
        </nav>

        
        
        <!-- <a style="font-family: CustomFont; color: #fff; text-decoration: none;" onmouseover="this.style.border='1px solid #fff';" onmouseout="this.style.border='1px solid #fff';" class="btn" href="#">Вход</a>  -->
        <a href="/login" style="font-family: CustomFont; color: #fff; text-decoration: none; font-size: 20px;" onmouseover="this.style.color='	#A33038';" onmouseout="this.style.color='#fff';" class="p-2">Вход</a>
        <!-- <button type="button" class="button">Click me!</button> -->

      
      </div>

        

                <div id='n-8c2d9225-ad84-42a0-a5fc-49e31a16ddf1' data-root-id="6d98f82d-7739-4074-a2a0-ce5be8c2f7b7" id='n-8c2d9225-ad84-42a0-a5fc-49e31a16ddf1' class='cli-background' style='background: #2D2926  no-repeat 80% 80%/cover;' data-fill='true' data-type='background' data-design-type='background'></div></section>
                <section id='n-5f8a4fe8-e13c-4fb5-8f67-b8fddc33bce0' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-5f8a4fe8-e13c-4fb5-8f67-b8fddc33bce0' class='cli-block cli-cover cli-block--inverse' data-type='block-wrapper' data-resize='true' data-gpt-value='true' data-design-type='block-wrapper'>
                  <div id='n-f5adcb8f-dcc2-4252-be4f-dfd55956de30' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-f5adcb8f-dcc2-4252-be4f-dfd55956de30' class='cli-block__content cli-grid cli-block__content--cover cli-block__content--normal' data-type='grid' data-title='Блок' data-design-type='grid' data-design-order='1' data-block-content='true'>
                    <div id='n-2546c374-43c7-4cd7-a44d-264c6b17209b' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-2546c374-43c7-4cd7-a44d-264c6b17209b' class='cli-col cli-col-start__xl--1 cli-col-end__xl--6 cli-col-start__md--1 cli-col-end__md--4 cli-col-start__sm--1 cli-col-end__sm--5 cli-content-v-center' data-type='grid-col' data-design-type='grid-col'>
                  <div id='n-31567d15-dbe5-486b-9714-18714cd55afc' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-31567d15-dbe5-486b-9714-18714cd55afc' class='cli-block-title cli-block-title--gigantic cli-text-center--mobile cli-text-bold' data-seo='true' data-type='text' data-title='Заголовок' data-draggable='true' data-gpt-value='Лидерство в разработке авиационных двигателей' data-design-type='text' data-design-order='2' data-content-order='1'>Лидерство в разработке авиационных двигателей</div>
                  <div id='n-883099ff-8e47-4e41-9f65-059b850bc9d3' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-883099ff-8e47-4e41-9f65-059b850bc9d3' class='cli-block-subtitle cli-block-subtitle--big cli-text-center--mobile cli-text-regular' data-type='text' data-title='Подзаголовок' data-draggable='true' data-gpt-value='Опыт и инновации для гражданской и военной авиации' data-design-type='text' data-design-order='3' data-content-order='2'>Опыт и инновации для гражданской и военной авиации</div></div>
                  <div id='n-50fc2378-993e-4944-976d-7b15755df06d' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-50fc2378-993e-4944-976d-7b15755df06d' class='cli-col cli-col-start__xl--8 cli-col-end__xl--13 cli-col-start__md--4 cli-col-end__md--7 cli-col-start__sm--1 cli-col-end__sm--5 cli-content-v-center' data-type='grid-col' data-design-type='grid-col'>
              
              
              
              <form action="/submit-form" method="post"> 
                        <div id='n-22ce58ec-c00d-4e12-b676-f234702cc88c' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-22ce58ec-c00d-4e12-b676-f234702cc88c' class='cli-form__wrapper' data-type='shape' data-title='Карточка' data-design-type='shape'>
                          <div id='n-b394b3a1-5c50-4bc6-9aa0-940b368906e1' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-b394b3a1-5c50-4bc6-9aa0-940b368906e1' class='cli-form__text cli-text-center--mobile' data-type='text' data-title='Текст' data-gpt-value='Присоединяйтесь к профессиональному сообществу авиационных специалистов' data-design-type='text'>Присоединяйтесь к профессиональному сообществу авиационных специалистов</div>
                        
                          <div style="text-align: center; font-size: 24px;" class='cli-form__text cli-text-center--mobile' data-type='text' data-title='Текст' data-design-type='text'>Регистрация</div>


                          <!-- <input id='name' id='name' name='name' type='text' class='cli-input cli-form__input' data-type='input' data-title='Поля' placeholder='Ваше имя' data-design-type='input'> -->
                        <input name='email' type='text' class='cli-input cli-form__input' data-type='input' data-title='Поля' placeholder='Электронная почта' data-design-type='input'>
                        <input name='password' type='text' class='cli-input cli-form__input' data-type='input' data-title='Поля' placeholder='Пароль' data-design-type='input'>
                        
                        <button type='submit' style="background-color: #A33038; border-color: #A33038ed;" class='cli-button cli-button--big cli-button--primary cli-button--long' data-type='button' data-title='Кнопка' data-design-type='button'>
                          <span  class='' data-type='text' data-gpt-value='Присоединиться сейчас' data-design-type='text'>Присоединиться сейчас</span>
                      </button>
        
                </div>
              </form>
      
      
      </div></div>
      
      
      <div id='n-ec7e4605-29d7-4af8-9800-768a337d69ab' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-ec7e4605-29d7-4af8-9800-768a337d69ab' class='cli-background' style='background: url(page2/images/18356c78-af70-44ee-9484-627c5f02ca50.jpg) no-repeat 50% 50%/cover #000000' data-fill='true' data-type='background' data-image='true' data-video='true' data-gpt-value='aviation' data-design-type='background' data-original-format='true'>
            

            <div id='n-1cfbab63-7973-4842-935f-8052e686ae90' data-root-id="753f902e-1f69-4d7f-9b60-46c86884d0b4" id='n-1cfbab63-7973-4842-935f-8052e686ae90' class='cli-background__fade' style='background: rgba(0, 0, 0, 0.4)' data-type='bg-fade' data-design-type='bg-fade'>


            </div></div></section>
            
            <section id='n-68fc2de7-9737-43de-a69c-413bd9ce3dbc' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-68fc2de7-9737-43de-a69c-413bd9ce3dbc' class='cli-block cli-advantages cli-block--default' data-type='block-wrapper' data-resize='true' data-gpt-value='true' data-design-type='block-wrapper'>
              <div id='n-691864c3-43de-4e98-9754-7b2035eea5ee' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-691864c3-43de-4e98-9754-7b2035eea5ee' class='cli-block__content cli-grid cli-block__content--normal' data-type='grid' data-title='Блок' data-design-type='grid' data-design-order='1' data-block-content='true'>
                <div id='n-56e8b82e-b7e8-48c3-8975-d81c92deac98' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-56e8b82e-b7e8-48c3-8975-d81c92deac98' class='cli-col cli-col-start__xl--1 cli-col-end__xl--13 cli-col-start__md--1 cli-col-end__md--7 cli-col-start__sm--1 cli-col-end__sm--5' data-type='grid-col' data-design-type='grid-col'>
                  <div id='n-fd4385dc-47bc-4124-9bf5-607ce1a8f038' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-fd4385dc-47bc-4124-9bf5-607ce1a8f038' class='cli-block-title cli-block-title--gigantic cli-text-center cli-text-bold' data-seo='true' data-type='text' data-title='Заголовок' data-draggable='true' data-gpt-value='Преимущества компании ОДК-Климов' data-design-type='text' data-design-order='2' data-content-order='1'>Преимущества компании ОДК-Климов

                  </div>
                  <ul id='n-d48b4bbe-9465-48ba-8108-c8207d1aba49' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-d48b4bbe-9465-48ba-8108-c8207d1aba49' class='cli-flex-list cli-flex-list--col-xl-3 cli-flex-list--col-md-2 cli-flex-list--col-sm-1 cli-flex-list--center' data-type='list' data-title='Преимущества' data-design-type='list' data-design-order='5' data-content-order='4'>
                    <li id='n-6bcb9429-08d6-4e39-b08c-5f125436a141' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-6bcb9429-08d6-4e39-b08c-5f125436a141' class='cli-advantage-image-card cli-flex-list__item' data-type='list-item' data-design-type='list-item'>
                      <div id='n-c19b54cb-1000-4224-bd67-9a21f9942cc2' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-c19b54cb-1000-4224-bd67-9a21f9942cc2' class='cli-image-text-card cli-image-text-card--middle'>
                        <img id='n-ff3d5b9f-a270-4beb-be97-fb9e91a913ab' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-ff3d5b9f-a270-4beb-be97-fb9e91a913ab' alt='image alt' src='page2/images/f159c33e-1519-403d-bdd1-042591494e2f.jpg' srcset='page2/images/Oa3pq_oTQGXq8-ScC7CrhTvaGaM%3D/666x/f159c33e-1519-403d-bdd1-042591494e2f.jpg 666w,page2/images/Go9Yf9Az_j_XvXXLykGUkMR1Zow%3D/767x/f159c33e-1519-403d-bdd1-042591494e2f.jpg 767w,page2/images/kjdJ2CLLuSFrPHYK8xRj7WPFDps%3D/1023x/f159c33e-1519-403d-bdd1-042591494e2f.jpg 1023w,page2/images/ah_7bZKLomQ6_MXA06Ek9fp92RU%3D/1199x/f159c33e-1519-403d-bdd1-042591494e2f.jpg 1199w,page2/images/0_yAAF29XOeFx_AbmAUeCMHSVbo%3D/1920x/f159c33e-1519-403d-bdd1-042591494e2f.jpg 1920w' class='cli-image--cover cli-image-text-card__image cli-image' data-type='image' data-title='Изображение' data-draggable='true' data-gpt-value='aviation' data-multitype='true' data-design-type='image' data-image-width='2880' data-widget-controls='true'>
                        <div id='n-b49b04f2-7689-4cb2-88c6-ede428adc806' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-b49b04f2-7689-4cb2-88c6-ede428adc806' class='cli-image-text-card__text-wrapper cli-image-text-card__text-wrapper--colored' data-type='shape' data-title='Карточка' data-draggable='true' data-design-type='shape'><div id='n-04877dbc-3973-4d53-acc1-288daae232d6' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-04877dbc-3973-4d53-acc1-288daae232d6' class='cli-image-text-card__title cli-image-text-card__title--inverse cli-text-medium cli-text-center' data-type='text' data-title='Заголовок' data-draggable='true' data-gpt-value='Инновационные двигатели' data-design-type='text'>Инновационные двигатели</div></div></div></li>
                       
                        <li id='n-475b414d-8c17-4a14-a124-77f8a7dc217d' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-475b414d-8c17-4a14-a124-77f8a7dc217d' class='cli-advantage-image-card cli-flex-list__item' data-type='list-item' data-design-type='list-item'><div id='n-eed5b127-f2c3-491b-a3b1-9276462dbbfe' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-eed5b127-f2c3-491b-a3b1-9276462dbbfe' class='cli-image-text-card cli-image-text-card--middle'><img id='n-fce5fe65-15cf-479a-9932-b65db349afcf' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-fce5fe65-15cf-479a-9932-b65db349afcf' alt='image alt' src='page2/images/1eeeb08d-b190-4150-b3ba-699930b6f02b.jpg' srcset='page2/images/BkGQzyqCZ7J-mwiCTAwhH7879sQ%3D/666x/1eeeb08d-b190-4150-b3ba-699930b6f02b.jpg 666w,page2/images/Vopvmt0KV6KjssQ_52NWGxC04WI%3D/767x/1eeeb08d-b190-4150-b3ba-699930b6f02b.jpg 767w,page2/images/EMsUTBcV5fiMOzZ-pZahspuTY3Y%3D/1023x/1eeeb08d-b190-4150-b3ba-699930b6f02b.jpg 1023w,page2/images/Fh4fwaD53dazkC5zw5q27tHAlqY%3D/1199x/1eeeb08d-b190-4150-b3ba-699930b6f02b.jpg 1199w,page2/images/3lxiHtJeOU3Xg9o0gTvwaNfoYqk%3D/1920x/1eeeb08d-b190-4150-b3ba-699930b6f02b.jpg 1920w' class='cli-image--cover cli-image-text-card__image cli-image' data-type='image' data-title='Изображение' data-draggable='true' data-gpt-value='engine' data-multitype='true' data-design-type='image' data-image-width='2880' data-widget-controls='true'><div id='n-3e98df6e-a908-4a7b-8a86-8f413c321e15' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-3e98df6e-a908-4a7b-8a86-8f413c321e15' class='cli-image-text-card__text-wrapper cli-image-text-card__text-wrapper--colored' data-type='shape' data-title='Карточка' data-draggable='true' data-design-type='shape'><div id='n-7b09aa09-c313-4a14-9b24-11c1dd3b0734' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-7b09aa09-c313-4a14-9b24-11c1dd3b0734' class='cli-image-text-card__title cli-image-text-card__title--inverse cli-text-medium cli-text-center' data-type='text' data-title='Заголовок' data-draggable='true' data-gpt-value='Высокое качество' data-design-type='text'>Высокое качество</div></div></div></li><li id='n-b4ff1037-e3cd-4f70-be2b-9c28361e1a64' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-b4ff1037-e3cd-4f70-be2b-9c28361e1a64' class='cli-advantage-image-card cli-flex-list__item' data-type='list-item' data-design-type='list-item'><div id='n-3b7dd4b4-eb1e-4e30-b456-927149aa952c' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-3b7dd4b4-eb1e-4e30-b456-927149aa952c' class='cli-image-text-card cli-image-text-card--middle'><img id='n-14f4c139-5a4e-42de-a5cf-07efae054747' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-14f4c139-5a4e-42de-a5cf-07efae054747' alt='image alt' src='page2/images/f27303f1-decd-47df-8116-b152d4bf3938.jpg' srcset='page2/images/HBpO0WXtYlT5J6wkpj0ngqwv5Bk%3D/666x/f27303f1-decd-47df-8116-b152d4bf3938.jpg 666w,page2/images/0iKHDSCc9DMEknKPTgqwZxoJdco%3D/767x/f27303f1-decd-47df-8116-b152d4bf3938.jpg 767w,page2/images/I_q3Q2AjtqlANietMwhgrNmae-o%3D/1023x/f27303f1-decd-47df-8116-b152d4bf3938.jpg 1023w,page2/images/eqU0aOUo26xpZdwenOnj50eDJvI%3D/1199x/f27303f1-decd-47df-8116-b152d4bf3938.jpg 1199w,page2/images/QxwTXejPkd3SZGSLXlbhEqbScpM%3D/1920x/f27303f1-decd-47df-8116-b152d4bf3938.jpg 1920w' class='cli-image--cover cli-image-text-card__image cli-image' data-type='image' data-title='Изображение' data-draggable='true' data-gpt-value='development' data-multitype='true' data-design-type='image' data-image-width='2880' data-widget-controls='true'><div id='n-161326cc-3e28-4c46-95cb-23e1b5b7f796' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-161326cc-3e28-4c46-95cb-23e1b5b7f796' class='cli-image-text-card__text-wrapper cli-image-text-card__text-wrapper--colored' data-type='shape' data-title='Карточка' data-draggable='true' data-design-type='shape'><div id='n-70c16f88-f4a2-45bc-8426-bf955db73a60' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-70c16f88-f4a2-45bc-8426-bf955db73a60' class='cli-image-text-card__title cli-image-text-card__title--inverse cli-text-medium cli-text-center' data-type='text' data-title='Заголовок' data-draggable='true' data-gpt-value='Профессиональное обучение' data-design-type='text'>Профессиональное обучение</div></div></div></li></ul></div></div><div id='n-7e75bfe8-7211-4b75-8abb-1b8bc9c69b5b' data-root-id="13aa1ab5-804a-4c6f-8dca-dda089d247eb" id='n-7e75bfe8-7211-4b75-8abb-1b8bc9c69b5b' class='cli-background' style='background: #ffffff  no-repeat 50% 50%/cover;' data-fill='true' data-type='background' data-image='true' data-video='true' data-design-type='background'></div></section><section id='n-4f370ab1-16a6-4703-a6e3-6665105d8183' data-root-id="83fda17c-a974-4927-bc50-dded04306227" id='n-4f370ab1-16a6-4703-a6e3-6665105d8183' class='cli-block cli-cover cli-block--inverse' data-type='block-wrapper' data-gpt-value='true' data-design-type='block-wrapper'><div id='n-2ae09278-7e7a-4e78-a8d4-f3e0d80cac65' data-root-id="83fda17c-a974-4927-bc50-dded04306227" id='n-2ae09278-7e7a-4e78-a8d4-f3e0d80cac65' class='cli-block__content cli-grid cli-block__content--full cli-block__content--height-mod-1' data-type='grid' data-title='Блок' data-design-type='grid' data-design-order='1' data-block-content='true'><div id='n-354574fc-1cd1-4378-aa3e-e8fb340db477' data-root-id="83fda17c-a974-4927-bc50-dded04306227" id='n-354574fc-1cd1-4378-aa3e-e8fb340db477' class='cli-video full cli-video--bordered' data-type='video' data-title='Видео' data-script='video' data-draggable='true' data-design-type='video' data-design-order='2' data-content-order='1'>
                          
                          <!-- <div id='n-d5487f9d-38bc-4bd0-aacc-3ac6f8850804' data-root-id="83fda17c-a974-4927-bc50-dded04306227" id='n-d5487f9d-38bc-4bd0-aacc-3ac6f8850804' class='cli-svg cli-video__icon' data-type='icon' data-title='Иконка' data-multitype='true' data-design-type='icon' data-video-button='' data-widget-controls='true'><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24" role="presentation"><g><path d="M20.0612 10.3661C21.3129 11.0933 21.3129 12.9067 20.0612 13.6339L7.82411 20.7431C6.56982 21.4718 5 20.5636 5 19.1092L5 4.89078C5 3.43643 6.56981 2.52821 7.82411 3.25689L20.0612 10.3661Z" fill-rule="evenodd" clip-rule="evenodd"></path></g></svg></div> -->
                          
                          <iframe id='n-ab32bef3-2977-41fd-b989-e5e007c0875e' data-root-id="83fda17c-a974-4927-bc50-dded04306227" id='n-ab32bef3-2977-41fd-b989-e5e007c0875e' src='' allow='autoplay' class='cli-video__iframe' data-iframe-src='https://www.youtube.com/embed/bme7L9rdcKM?enablejsapi=1&version=3&playerapiid=ytplayer&start=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3&autoplay=0&mute=1&loop=1&controls=1&playlist=bme7L9rdcKM'></iframe>
                          
                          <img id='n-ae087dbc-4a26-4aad-84f5-11caf1761bed' data-root-id="83fda17c-a974-4927-bc50-dded04306227" id='n-ae087dbc-4a26-4aad-84f5-11caf1761bed' src='page2/images/d0a95529-ff5e-45a3-ba32-e412acd327e2.jpg' srcset='page2/images/I5OIo5a9ws0HRd4XL8gli7Cz97E%3D/666x/d0a95529-ff5e-45a3-ba32-e412acd327e2.jpg 666w,page2/images/-2h_irnHenJB3vUD65GbKBRrINM%3D/767x/d0a95529-ff5e-45a3-ba32-e412acd327e2.jpg 767w,page2/images/JFB-pqSa5yG_O7kSlLCAQUZ2pn4%3D/1023x/d0a95529-ff5e-45a3-ba32-e412acd327e2.jpg 1023w,page2/images/1_OkBoV34ELm_Apz90gLYrxO2_k%3D/1199x/d0a95529-ff5e-45a3-ba32-e412acd327e2.jpg 1199w,page2/images/ugYuEJwjtvy-pi5TcSkIyyUUQqA%3D/1920x/d0a95529-ff5e-45a3-ba32-e412acd327e2.jpg 1920w' class='cli-video__preview' data-gpt-value='aircraft' data-image-width='2880' data-video-preview=''></div></div>
                          <div id='n-2bccd74d-4c29-4e0e-a251-41c198e04ac2' data-root-id="83fda17c-a974-4927-bc50-dded04306227" id='n-2bccd74d-4c29-4e0e-a251-41c198e04ac2' class='cli-background' style='background:  no-repeat 50% 50%/cover #ffffff' data-fill='true' data-type='background' data-image='true' data-video='true' data-design-type='background'></div></section><section id='n-08faf998-3526-47a3-9ff0-af060dbcc64e' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-08faf998-3526-47a3-9ff0-af060dbcc64e' class='cli-block cli-about cli-block--default' data-type='block-wrapper' data-resize='true' data-gpt-value='true' data-design-type='block-wrapper'><div id='n-35e5f3c3-a1b0-4ead-9bb4-4659e963297f' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-35e5f3c3-a1b0-4ead-9bb4-4659e963297f' class='cli-block__content cli-grid cli-block__content--normal' data-type='grid' data-title='Блок' data-design-type='grid' data-design-order='1' data-block-content='true'><div id='n-2abe9522-99c8-4009-8e8c-5fe1c68dfd78' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-2abe9522-99c8-4009-8e8c-5fe1c68dfd78' class='cli-col cli-col-start__xl--1 cli-col-end__xl--7 cli-col-start__md--1 cli-col-end__md--4 cli-col-start__sm--1 cli-col-end__sm--5 cli-content-v-center' data-type='grid-col' data-design-type='grid-col'><div id='n-8bdb61a8-d1d6-44a1-b041-e09c7045d006' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-8bdb61a8-d1d6-44a1-b041-e09c7045d006' class='cli-block-title cli-block-title--large cli-text-bold' data-seo='true' data-type='text' data-title='Заголовок' data-draggable='true' data-gpt-value='Лидер в разработке авиационных газотурбинных двигателей' data-design-type='text' data-design-order='2' data-content-order='1'>Лидер в разработке авиационных газотурбинных двигателей</div><div id='n-0e92841f-daa1-4f0e-b105-8a01227971bf' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-0e92841f-daa1-4f0e-b105-8a01227971bf' class='cli-block-subtitle cli-block-subtitle--middle cli-text-regular' data-type='text' data-title='Подзаголовок' data-draggable='true' data-gpt-value='АО ' одк-климов'="" -="" ведущий="" разработчик="" газотурбинных="" двигателей="" для="" авиации,="" привлекающий="" талантливых="" студентов="" и="" обеспечивающий="" разностороннее="" образование'="" data-design-type='text' data-design-order='3' data-content-order='2'>АО 'ОДК-Климов' - ведущий разработчик газотурбинных двигателей для авиации, привлекающий талантливых студентов и обеспечивающий разностороннее образование</div><div id='n-bd36a928-e7a5-479d-86d9-a51eeafc15cc' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-bd36a928-e7a5-479d-86d9-a51eeafc15cc' class='cli-buttons cli-buttons--column-mobile'><a id='n-ba132646-d0e6-4f6e-9398-10a01005ab11' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-ba132646-d0e6-4f6e-9398-10a01005ab11' href='#' class='cli-button cli-button--big cli-button--secondary' data-type='button' data-title='Кнопка' data-draggable='true' data-design-type='button' data-design-order='7' data-content-order='6'></a></div></div><div id='n-2787386d-f5da-489e-a91b-bae5a3a60806' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-2787386d-f5da-489e-a91b-bae5a3a60806' class='cli-col cli-col-start__xl--8 cli-col-end__xl--13 cli-col-start__md--4 cli-col-end__md--7 cli-col-start__sm--1 cli-col-end__sm--5 cli-content-v-center' data-type='grid-col' data-design-type='grid-col'><div id='n-ee1d1743-dd68-4c2f-b409-810a2f68062e' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-ee1d1743-dd68-4c2f-b409-810a2f68062e' class='cli-double-image cli-double-image--round' data-design-type='wrapper'><img id='n-599b0b61-3a41-4b3c-842e-c1eeabd820ab' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-599b0b61-3a41-4b3c-842e-c1eeabd820ab' alt='double image fisrt part' src='page2/images/e6e932b5-fd70-4e17-96bd-0c3b50b7f67d.jpg' srcset='page2/images/XnP0juHzic6caDJCjSDp9_V0U0E%3D/666x/e6e932b5-fd70-4e17-96bd-0c3b50b7f67d.jpg 666w,page2/images/TYz_a3r1SC1VmAd1i7f0_TF1Fjw%3D/767x/e6e932b5-fd70-4e17-96bd-0c3b50b7f67d.jpg 767w,page2/images/6EaecG1ZOI6OSQoYTGl53tDmr60%3D/1023x/e6e932b5-fd70-4e17-96bd-0c3b50b7f67d.jpg 1023w,page2/images/NiwxdjXSlL1jRehPcB1vtB2BtSU%3D/1199x/e6e932b5-fd70-4e17-96bd-0c3b50b7f67d.jpg 1199w,page2/images/5w-bIBeoQgH0MAZMjz9vuKHtBwk%3D/1920x/e6e932b5-fd70-4e17-96bd-0c3b50b7f67d.jpg 1920w' class='cli-double-image__large cli-image--round cli-image' data-type='image' data-title='Изображение#1' data-draggable='true' data-gpt-value='aviation' data-multitype='true' data-design-type='image' data-image-width='2880' data-design-order='5' data-content-order='4' data-widget-controls='true'><img id='n-7ebd1f37-c10b-4c86-bcec-686f5bae9dfc' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-7ebd1f37-c10b-4c86-bcec-686f5bae9dfc' alt='double image second part' src='page2/images/8c00c8fc-50d8-40e9-8156-f53877670f6b.jpg' srcset='page2/images/GtkiQsOP05gQT0pPIp4NkDKoZAY%3D/666x/8c00c8fc-50d8-40e9-8156-f53877670f6b.jpg 666w,page2/images/1S_HkgagJcJX_aBaNU1lCaWgGik%3D/767x/8c00c8fc-50d8-40e9-8156-f53877670f6b.jpg 767w,page2/images/jMTJvz_bgtcPUvB6jNCAOkfM6I8%3D/1023x/8c00c8fc-50d8-40e9-8156-f53877670f6b.jpg 1023w,page2/images/DYvhIptTnyEBUfBbdcQPk3UsA7M%3D/1199x/8c00c8fc-50d8-40e9-8156-f53877670f6b.jpg 1199w,page2/images/nZmhqxe5kLb2spFGb_mHuvNniiw%3D/1920x/8c00c8fc-50d8-40e9-8156-f53877670f6b.jpg 1920w' class='cli-double-image__small cli-image--round cli-image' data-type='image' data-title='Изображение#2' data-draggable='true' data-gpt-value='innovation' data-multitype='true' data-design-type='image' data-image-width='2880' data-design-order='6' data-content-order='5' data-widget-controls='true'></div></div></div><div id='n-b8a3a6a0-083e-42de-9e28-49b13fcf4d03' data-root-id="ca6ffbb7-49d5-4158-b102-8b5696275653" id='n-b8a3a6a0-083e-42de-9e28-49b13fcf4d03' class='cli-background' style='background: #ffffff  no-repeat 50% 50%/cover;' data-fill='true' data-type='background' data-image='true' data-video='true' data-design-type='background'></div></section><section id='n-bf80b95e-f5fb-44b9-9b89-4bd7140bf1c4' data-root-id="1cbd40a2-a515-4347-a4e8-08d954686a45" id='n-bf80b95e-f5fb-44b9-9b89-4bd7140bf1c4' class='cli-block cli-form-block cli-block--inverse' data-type='block-wrapper' data-resize='true' data-gpt-value='true' data-design-type='block-wrapper'><div id='n-22e78def-ac72-46f6-bbe6-8c4e52d8e749' data-root-id="1cbd40a2-a515-4347-a4e8-08d954686a45" id='n-22e78def-ac72-46f6-bbe6-8c4e52d8e749' class='cli-block__content cli-grid cli-block__content--normal' data-type='grid' data-title='Блок' data-design-type='grid' data-design-order='1' data-block-content='true'><div id='n-5b8178ec-8e86-4e98-8b40-be6b910d43d4' data-root-id="1cbd40a2-a515-4347-a4e8-08d954686a45" id='n-5b8178ec-8e86-4e98-8b40-be6b910d43d4' class='cli-col cli-col-start__xl--4 cli-col-end__xl--10 cli-col-start__md--1 cli-col-end__md--7 cli-col-start__sm--1 cli-col-end__sm--5' data-type='grid-col' data-design-type='grid-col'><div id='n-211f98c3-342b-42fc-ae43-61a75f5d4ef7' data-root-id="1cbd40a2-a515-4347-a4e8-08d954686a45" id='n-211f98c3-342b-42fc-ae43-61a75f5d4ef7' class='cli-block-title cli-block-title--large cli-text-center cli-text-bold' data-seo='true' data-type='text' data-title='Заголовок' data-draggable='true' data-gpt-value='Лидерство в разработке авиационных газотурбинных двигателей' data-design-type='text' data-design-order='2' data-content-order='1'>Лидерство в разработке авиационных газотурбинных двигателей</div>
            
            </div><div id='n-e4ef10c9-d343-4770-947f-588ebe885911' data-root-id="1cbd40a2-a515-4347-a4e8-08d954686a45" id='n-e4ef10c9-d343-4770-947f-588ebe885911' class='cli-col cli-col-start__xl--3 cli-col-end__xl--11 cli-col-start__md--1 cli-col-end__md--7 cli-col-start__sm--1 cli-col-end__sm--5' data-type='grid-col' data-design-type='grid-col'><form id='n-a5b2a595-dd1c-4c18-abbb-4291b27b29cb' data-root-id="1cbd40a2-a515-4347-a4e8-08d954686a45" id='n-a5b2a595-dd1c-4c18-abbb-4291b27b29cb' class='cli-form cli-form--inline' data-type='form' data-title='Форма' data-script='form' data-draggable='true' data-design-type='form' data-design-order='5' data-content-order='4'>
              
              
            
              </button></form></div></div>
              

              <div class='cli-background' style='background: url(page2/images/55db9cbf-46ea-473f-b531-0fd497315813.jpg) no-repeat 50% 50%/cover #000000' data-fill='true' data-type='background' data-image='true' data-video='true' data-gpt-value='aviation' data-design-type='background' data-original-format='true'>
                <div id='n-24aed026-92e5-477d-b8bc-ad67e9e8d619' data-root-id="1cbd40a2-a515-4347-a4e8-08d954686a45" id='n-24aed026-92e5-477d-b8bc-ad67e9e8d619' class='cli-background__fade' style='background: rgba(0, 0, 0, 0.4)' data-type='bg-fade' data-design-type='bg-fade'>
                </div></div></section>


                <section id='n-c2508a4d-bc77-4fb9-aaf9-7dabfc76b0b0' data-root-id="bcd87a36-a68b-4adc-8db9-cb857171694b" id='n-c2508a4d-bc77-4fb9-aaf9-7dabfc76b0b0' class='cli-block cli-footer cli-block--default' data-type='block-wrapper' data-resize='true' data-gpt-value='true' data-design-type='block-wrapper'>
                  <div id='n-04ab3102-fdcf-4352-b5f3-2bc20111f95b' data-root-id="bcd87a36-a68b-4adc-8db9-cb857171694b" id='n-04ab3102-fdcf-4352-b5f3-2bc20111f95b' class='cli-footer__content cli-block__content' data-type='grid' data-title='Блок' data-design-type='grid' data-design-order='1' data-block-content='true'>
                 



                     <!-- Место для футера -->
                      <p class='cli-footer__col cli-footer__copyright cli-text-center' data-type='text' data-title='Копирайт' data-draggable='true' data-design-type='text' data-design-order='2' data-content-order='1'> 2024</p></div>
                      <div id='n-94cec98b-a385-44c2-acb2-b428a6dd90a8' data-root-id="bcd87a36-a68b-4adc-8db9-cb857171694b" id='n-94cec98b-a385-44c2-acb2-b428a6dd90a8' class='cli-background' style='background: #F7F8FA  no-repeat 50% 50%/cover;' data-fill='true' data-type='background' data-design-type='background'>
                      </div>
                    </section>

            
      <div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-body-secondary"></p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5> </h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">АО "ОДК-Климов"</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">197375, Санкт-Петербург ул.</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Академика Харитона, д. 8,</a></li>
        <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li> -->
      </ul>
    </div>

    <div class="col mb-3">
      <h5> </h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Телефон</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"> +7 (812) 647 00 38</a></li>
        <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li> -->
      </ul>
    </div>

    <div class="col mb-3">
      <h5> </h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Для почты</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">194100, Санкт-Петербург </a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">ул. Кантемировская, д. 11, стр. 1</a></li>
        <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li> -->
      </ul>
    </div>
  </footer>
</div>
            
                

        
    </body>

</html>