<html lang="ru"><head>
    <title>Образец резюме на работу: заполни шаблон резюме и скачай готовый бланк</title>
    <meta charset="utf-8">
    <meta content="Не знаете как составить резюме на работу? Тогда воспользуйтесь нашим онлайн конструктором! Просто заполните образец резюме на сайте и получите готовый документ." name="description">
    <meta content="образец резюме на работу, пример резюме, шаблон резюме" name="keywords">
    <link rel="canonical" href="https://simpledoc.ru/resume/">
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta name="yandex-verification" content="65f06cc1c44f3f69">
    <meta name="google-site-verification" content="aDz_fKEobqfjksUCCDS_dCWP4KvaDfym5Z4nWNlDdA4">
    <meta name="yandex-verification" content="6b1bd9f48fcf0116">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Simpledoc.ru">
    <meta property="og:title" content="Резюме, с которым я устроился на работу!">
    <meta property="og:description" content="Ищите работу? Тогда вам точно сюда! Заполните небольшую форму и получите готовое резюме, с которым вам не откажут.">
    <meta property="og:url" content="https://simpledoc.ru/resume/">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="https://simpledoc.ru/resume/res/i/opengraph.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="vk:image" content="https://simpledoc.ru/resume/res/i/opengraph_vk.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="res/css/main.css?r=23963" type="text/css" rel="stylesheet">
    <link href="res/css/lib/jquery.guillotine.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-422FQ5M24W&amp;cx=c&amp;_slc=1"></script><script src="https://connect.facebook.net/en_US/sdk.js?hash=c754a688678e17459eeed933b9f7ef0b" async="" crossorigin="anonymous"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://mc.yandex.ru/metrika/watch.js"></script><script id="facebook-jssdk" src="https://connect.facebook.net/en_US/sdk.js"></script><script>
        window.NEO_SESSION_ID = 'zlH7EaOWWUAdW6NnuNog';
        window.NEO_USER_ID = '662023ca770d4';
        window.NEO_RESUME_ID = '662023ca7719f';
        window.NEO_UNIQ_ID = '66203b905c787';
        window.CLIENT_IP = '185.207.25.10';
        window.CLIENT_ID = '662023ca7702e';
        window.PARTNER_ID = 'direct.main';
    </script><script type="text/javascript" async="" src="https://cackle.me/widget.js"></script>                <script>
        window.COUNT_TODAY = 3;
    </script>
                    <script>
        window.IS_IPHONE =   false;
        window.IS_IPAD =     false;
        window.IS_IPOD =     false;
        window.IS_ANDROID =  false;
        window.IS_WP =       false;
        window.IS_MOBILE =   false;
    </script>
    <script src="res/js/lib/jquery.js"></script>
    <script src="res/js/lib/jquery-ui.js"></script>
    <script src="res/js/lib/jquery.guillotine.min.js"></script>
    <script>
        window.uploadNewMethod = true;
    </script>
<script type="text/javascript" async="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/760152099/?random=1713388432857&amp;cv=11&amp;fst=1713388432857&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be44f0za200&amp;gcd=13l3l3l3l1&amp;dma=0&amp;u_w=1536&amp;u_h=864&amp;url=https%3A%2F%2Fsimpledoc.ru%2Fresume%2F&amp;ref=https%3A%2F%2Fsimpledoc.ru%2Fresume%2Fexamples%2F&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=%D0%9E%D0%B1%D1%80%D0%B0%D0%B7%D0%B5%D1%86%20%D1%80%D0%B5%D0%B7%D1%8E%D0%BC%D0%B5%20%D0%BD%D0%B0%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%83%3A%20%D0%B7%D0%B0%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%20%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD%20%D1%80%D0%B5%D0%B7%D1%8E%D0%BC&amp;npa=0&amp;pscdl=noapi&amp;auid=671411687.1713382348&amp;uaa=x86&amp;uab=64&amp;uafvl=Google%2520Chrome%3B123.0.6312.123%7CNot%253AA-Brand%3B8.0.0.0%7CChromium%3B123.0.6312.123&amp;uamb=0&amp;uam=&amp;uap=Windows&amp;uapv=10.0.0&amp;uaw=0&amp;fledge=1&amp;data=event%3Dgtag.config&amp;rfmt=3&amp;fmt=4"></script><style type="text/css" data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:'lucida grande', tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:'lucida grande', tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://connect.facebook.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://connect.facebook.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://connect.facebook.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://connect.facebook.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
.fb_mpn_mobile_landing_page_slide_out{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_out_from_left{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out_from_left;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_up{animation-duration:500ms;animation-name:fb_mpn_landing_page_slide_up;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_in{animation-duration:300ms;animation-name:fb_mpn_bounce_in;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out{animation-duration:300ms;animation-name:fb_mpn_bounce_out;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out_v2{animation-duration:300ms;animation-name:fb_mpn_fade_out;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_v2{animation-duration:300ms;animation-name:fb_bounce_in_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_from_left{animation-duration:300ms;animation-name:fb_bounce_in_from_left;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_v2{animation-duration:300ms;animation-name:fb_bounce_out_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_from_left{animation-duration:300ms;animation-name:fb_bounce_out_from_left;transition-timing-function:ease-in}.fb_invisible_flow{display:inherit;height:0;overflow-x:hidden;width:0}@keyframes fb_mpn_landing_page_slide_out{0%{margin:0 12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;margin:0 24px;width:60px}}@keyframes fb_mpn_landing_page_slide_out_from_left{0%{left:12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;left:12px;width:60px}}@keyframes fb_mpn_landing_page_slide_up{0%{bottom:0;opacity:0}100%{bottom:24px;opacity:1}}@keyframes fb_mpn_bounce_in{0%{opacity:.5;top:100%}100%{opacity:1;top:0}}@keyframes fb_mpn_fade_out{0%{bottom:30px;opacity:1}100%{bottom:0;opacity:0}}@keyframes fb_mpn_bounce_out{0%{opacity:1;top:0}100%{opacity:.5;top:100%}}@keyframes fb_bounce_in_v2{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}50%{transform:scale(1.03, 1.03);transform-origin:bottom right}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}}@keyframes fb_bounce_in_from_left{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}50%{transform:scale(1.03, 1.03);transform-origin:bottom left}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}}@keyframes fb_bounce_out_v2{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}}@keyframes fb_bounce_out_from_left{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}}@keyframes slideInFromBottom{0%{opacity:.1;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}@keyframes slideInFromBottomDelay{0%{opacity:0;transform:translateY(100%)}97%{opacity:0;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}</style></head>
<body class="">
    <div class="main">


       


        <section class="page">
            <section id="process-tabs" class="block process active2">

                <div>
                    
                    <span class="js-step js-step-1 / step1">Ввод данных</span>
                    <span class="js-step js-step-2 / step2">Просмотр</span>
                    
                </div>
                <hr>
            </section>


            <div id="carousel" class="carousel active2">
                <div class="page1" id="page1">


                    <section class="block form" id="form-1">
                        <h3 style="margin-top:0;">1. Основная информация</h3>
                        <section class="border mobile-no-border">
                            <div class="flexbox mobile-column-reverse mobile-column-center">
                                <div style="width:100%;" class="left mobile-no-left">


                                    <div class="field">
                                        <style>
                                            #surname {
                                                color: rgb(0, 0, 0);
                                                background-color: rgb(255, 255, 255);
                                                }
                                        </style>



                    

                                        <input id="surname" type="text" class="cli-input cli-form__input" data-type='input' data-title='Поля' placeholder='Электронная почта' data-design-type='input'>
                                        <label for="surname">Фамилия</label>
                                        
                                    </div>


                                    <div class="field">
                                        <input id="name" type="text" class="required" required="required" placeholder="Иван" style="text-transform: capitalize;" spellcheck="false">
                                        <label for="name">Имя</label>
                                    </div>
                                    <div class="field">
                                        <input id="patronymic" type="text" required="required" placeholder="Иванович" style="text-transform: capitalize;" spellcheck="false">
                                        <label for="patronymic">Отчество</label>
                                    </div>
                                </div>
                                <div class="right mobile-no-margin mobile-no-right">
                                    <div class="field field-photo" id="photo">
                                        <input tabindex="-1" type="file" accept="image/jpeg,image/png" spellcheck="false">
                                        <label class="big / js-photo-title">Прикрепить фотографию</label>
                                        <div class="view"></div>
                                        <img src="res/svg/actions/delete.svg" class="delete" title="Удалить фотографию" alt="Удалить">
                                    </div>
                                </div>
                            </div>
                            <div class="field" style="margin-top: 10px;">
                                <input id="position" type="text" required="required" placeholder="Помощник руководителя" spellcheck="false">
                                <label for="position">Должность</label>
                            </div>
                            <div class="flexbox">
                                <div class="left mobile-fullsize mobile-no-margin" style="width:50%;">
                                    <div class="field">
                                        <input id="salary" type="text" required="required" placeholder="30 000 руб." spellcheck="false">
                                        <label for="salary">Желаемая зарплата</label>
                                    </div>
                                </div>
                                <div class="right is-not-mobile" style="width:50%;"></div>
                            </div>
                            <div class="flexbox mobile-column" style="margin-top: 10px;">
                                <div class="left mobile-fullsize mobile-no-margin" style="width:50%;">
                                    <div class="field">


                                        <select id="busy" spellcheck="false">
                                            <option value="0" selected="">Полная</option>
                                            <option value="1">Частичная</option>
                                            <option value="2">Проектная</option>
                                            <option value="3">Стажировка</option>
                                            <option value="4">Волонтёрство</option>
                                        </select>
                                        <label for="busy">Занятость</label>
                                    </div>

                                    
                                </div>
                                <div class="right mobile-fullsize mobile-no-margin" style="width:50%;">
                                    <div class="field">
                                        <select id="schedule" spellcheck="false">
                                            <option value="0" selected="">Полный день</option>
                                            <option value="1">Сменный график</option>
                                            <option value="2">Гибкий график</option>
                                            <option value="3">Удаленная работа</option>
                                            <option value="4">Вахтовый метод</option>
                                        </select>
                                        <label for="schedule">График работы</label>
                                    </div>
                                </div>
                            </div>
                            <div class="field field-checkbox">
                                <input id="trip" type="checkbox" spellcheck="false">
                                <label for="trip">Готовность к командировкам</label>
                            </div>
                            <div class="flexbox mobile-column " style="margin-top: 25px;">
                                <div class="left mobile-fullsize mobile- mobile-no-left mobile-last" style="width:50%;">
                                    <div class="field last">
                                        <input id="phone" type="text" class="invalid" required="required" placeholder="+7 (495) 000-00-00" spellcheck="false">
                                        <label for="phone">Телефон</label>
                                    </div>
                                </div>
                                <div class="right mobile-fullsize mobile-no-right" style="width:50%;">
                                    <div class="field last invalid">
                                        <input id="email" type="text" required="required" placeholder="ivan.ivanovich@gmail.com" style="text-transform:lowercase;" spellcheck="false">
                                        <label for="email">Электронная почта</label>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                    <section class="block form" id="form-2">
                        <h3>2. Личная информация</h3>
                        <section class="border mobile-no-border">
                            <div class="flexbox mobile-column">
                                <div class="left mobile-fullsize mobile-no-left mobile-last" style="width: 100%;">
                                    <div class="field last invalid">
                                        <input id="city" type="text" required="required" placeholder="г. Москва" spellcheck="false">
                                        <label for="city">Город проживания</label>
                                    </div>
                                </div>
                                <div class="right mobile-fullsize mobile-no-right" style="width: 50%;">
                                    <div class="field">
                                        <select id="relocation" spellcheck="false">
                                            <option value="0" selected="">Невозможен</option>
                                            <option value="1">Возможен</option>
                                            <option value="2">Нежелателен</option>
                                            <option value="3">Желателен</option>
                                        </select>
                                        <label for="relocation">Переезд</label>
                                    </div>
                                </div>
                            </div>
                            <div class="field invalid">
                                <input id="nationality" type="text" required="required" placeholder="Российская Федерация" spellcheck="false">
                                <label for="nationality">Гражданство</label>
                            </div>
                            <div class="flexbox mobile-column">
                                <div class="left mobile-no-left mobile-last" style="flex:1">
                                    <div class="field-date last">
                                        <select class="day" id="birthday-date" spellcheck="false"><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option></select>
                                        <span class="arrow"></span>
                                        <select class="month incline" id="birthday-month" data-value="3" spellcheck="false"><option value="0">января</option><option value="1">февраля</option><option value="2">марта</option><option value="3">апреля</option><option value="4">мая</option><option value="5">июня</option><option value="6">июля</option><option value="7">августа</option><option value="8">сентября</option><option value="9">октября</option><option value="10">ноября</option><option value="11">декабря</option></select>
                                        <span class="arrow"></span>
                                        <select class="year" id="birthday-year" spellcheck="false"><option value="1900">1900</option><option value="1901">1901</option><option value="1902">1902</option><option value="1903">1903</option><option value="1904">1904</option><option value="1905">1905</option><option value="1906">1906</option><option value="1907">1907</option><option value="1908">1908</option><option value="1909">1909</option><option value="1910">1910</option><option value="1911">1911</option><option value="1912">1912</option><option value="1913">1913</option><option value="1914">1914</option><option value="1915">1915</option><option value="1916">1916</option><option value="1917">1917</option><option value="1918">1918</option><option value="1919">1919</option><option value="1920">1920</option><option value="1921">1921</option><option value="1922">1922</option><option value="1923">1923</option><option value="1924">1924</option><option value="1925">1925</option><option value="1926">1926</option><option value="1927">1927</option><option value="1928">1928</option><option value="1929">1929</option><option value="1930">1930</option><option value="1931">1931</option><option value="1932">1932</option><option value="1933">1933</option><option value="1934">1934</option><option value="1935">1935</option><option value="1936">1936</option><option value="1937">1937</option><option value="1938">1938</option><option value="1939">1939</option><option value="1940">1940</option><option value="1941">1941</option><option value="1942">1942</option><option value="1943">1943</option><option value="1944">1944</option><option value="1945">1945</option><option value="1946">1946</option><option value="1947">1947</option><option value="1948">1948</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option><option value="2037">2037</option><option value="2038">2038</option><option value="2039">2039</option><option value="2040">2040</option><option value="2041">2041</option><option value="2042">2042</option><option value="2043">2043</option><option value="2044">2044</option><option value="2045">2045</option><option value="2046">2046</option><option value="2047">2047</option><option value="2048">2048</option><option value="2049">2049</option><option value="2050">2050</option><option value="2051">2051</option><option value="2052">2052</option><option value="2053">2053</option><option value="2054">2054</option><option value="2055">2055</option><option value="2056">2056</option><option value="2057">2057</option><option value="2058">2058</option><option value="2059">2059</option></select>
                                        <span class="arrow"></span>
                                        <label for="birthday-date">Дата рождения</label>
                                        <div class="bg"></div>
                                    </div>
                                </div>
                                <div class="right mobile-no-right" style="flex:1"> 
                                    <div class="field">
                                        <select id="sex" spellcheck="false">
                                            <option value="1" selected="">Мужской</option>
                                            <option value="0">Женский</option>
                                        </select>
                                        <label for="sex">Пол</label>
                                    </div>
                                </div>
                                <div class="right is-not-tablet is-not-mobile" style="flex:1;"></div>
                            </div>
                            <div class="flexbox mobile-column" style="align-items: center;">
                                <div class="left mobile-no-left mobile-fullsize" style="width: 33%;">
                                    <div class="field">
                                        <select id="family" spellcheck="false">
                                            <option id="family-alone" value="0">Не замужем</option>
                                            <option id="family-married" value="1">Замужем</option>
                                        </select>
                                        <label for="family">Семейное положение</label>
                                    </div>
                                </div>
                                <div class="right mobile-no-right mobile-fullsize" style="width: 33%;">
                                    <div class="field field-checkbox">
                                        <input id="children" type="checkbox" spellcheck="false">
                                        <label for="children">Есть дети</label>
                                    </div>
                                </div>
                                <div class="right"></div>
                            </div>
                            <div class="flexbox mobile-column">
                                <div class="left mobile-no-left mobile-fullsize" style="width: 50%;">
                                    <div class="field last">
                                        <select id="schooling" spellcheck="false">
                                            <option value="1">Среднее</option>
                                            <option value="0">Среднее неполное</option>
                                            <option value="2">Среднее профессиональное</option>
                                            <option value="3" selected="">Высшее</option>
                                            <option value="4">Высшее неполное</option>
                                        </select>
                                        <label for="schooling">Образование</label>
                                    </div>
                                </div>
                                <div class="right last is-not-mobile" style="width: 50%"></div>
                            </div>
                        </section>
                    </section>
                    <section class="block form" id="form-3">
                        <h3>3. Опыт работы</h3>
                        <p>Укажите ваши предыдущие места работы - большинство работодателей предпочитают опытных сотрудников</p>
                        <div id="expirience-list"><section class="border mobile-no-border" id="expirience-0"><div class="actions"><img class="up" src="res/svg/arrows/up.svg" title="Поднять наверх"><img class="down" src="res/svg/arrows/down.svg" title="Опустить вниз"><img class="delete" src="res/svg/actions/delete.svg" title="Удалить"></div><div class="flexbox flexbox-center mobile-column mobile-column-left"><div class="left mobile-no-left" style="width:200px;"><div class="field-date month" id="expirience-0-since"><select class="month" id="expirience-0-since-month" data-value="3" spellcheck="false"><option value="0">январь</option><option value="1">февраль</option><option value="2">март</option><option value="3">апрель</option><option value="4">май</option><option value="5">июнь</option><option value="6">июль</option><option value="7">август</option><option value="8">сентябрь</option><option value="9">октябрь</option><option value="10">ноябрь</option><option value="11">декабрь</option></select><span class="arrow"></span><select class="year" id="expirience-0-since-year" spellcheck="false"><option value="1900">1900</option><option value="1901">1901</option><option value="1902">1902</option><option value="1903">1903</option><option value="1904">1904</option><option value="1905">1905</option><option value="1906">1906</option><option value="1907">1907</option><option value="1908">1908</option><option value="1909">1909</option><option value="1910">1910</option><option value="1911">1911</option><option value="1912">1912</option><option value="1913">1913</option><option value="1914">1914</option><option value="1915">1915</option><option value="1916">1916</option><option value="1917">1917</option><option value="1918">1918</option><option value="1919">1919</option><option value="1920">1920</option><option value="1921">1921</option><option value="1922">1922</option><option value="1923">1923</option><option value="1924">1924</option><option value="1925">1925</option><option value="1926">1926</option><option value="1927">1927</option><option value="1928">1928</option><option value="1929">1929</option><option value="1930">1930</option><option value="1931">1931</option><option value="1932">1932</option><option value="1933">1933</option><option value="1934">1934</option><option value="1935">1935</option><option value="1936">1936</option><option value="1937">1937</option><option value="1938">1938</option><option value="1939">1939</option><option value="1940">1940</option><option value="1941">1941</option><option value="1942">1942</option><option value="1943">1943</option><option value="1944">1944</option><option value="1945">1945</option><option value="1946">1946</option><option value="1947">1947</option><option value="1948">1948</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option><option value="2037">2037</option><option value="2038">2038</option><option value="2039">2039</option><option value="2040">2040</option><option value="2041">2041</option><option value="2042">2042</option><option value="2043">2043</option><option value="2044">2044</option><option value="2045">2045</option><option value="2046">2046</option><option value="2047">2047</option><option value="2048">2048</option><option value="2049">2049</option><option value="2050">2050</option><option value="2051">2051</option><option value="2052">2052</option><option value="2053">2053</option><option value="2054">2054</option><option value="2055">2055</option><option value="2056">2056</option><option value="2057">2057</option><option value="2058">2058</option><option value="2059">2059</option></select><span class="arrow"></span><label for="expirience-0-since-month">Устроился</label><div class="bg"></div></div></div><div class="right left mobile-no-left mobile-no-right" style="width:200px;"><div class="field-date month" id="expirience-0-until"><select class="month" id="expirience-0-until-month" data-value="3" spellcheck="false"><option value="0">январь</option><option value="1">февраль</option><option value="2">март</option><option value="3">апрель</option><option value="4">май</option><option value="5">июнь</option><option value="6">июль</option><option value="7">август</option><option value="8">сентябрь</option><option value="9">октябрь</option><option value="10">ноябрь</option><option value="11">декабрь</option></select><span class="arrow"></span><select class="year" id="expirience-0-until-year" spellcheck="false"><option value="1900">1900</option><option value="1901">1901</option><option value="1902">1902</option><option value="1903">1903</option><option value="1904">1904</option><option value="1905">1905</option><option value="1906">1906</option><option value="1907">1907</option><option value="1908">1908</option><option value="1909">1909</option><option value="1910">1910</option><option value="1911">1911</option><option value="1912">1912</option><option value="1913">1913</option><option value="1914">1914</option><option value="1915">1915</option><option value="1916">1916</option><option value="1917">1917</option><option value="1918">1918</option><option value="1919">1919</option><option value="1920">1920</option><option value="1921">1921</option><option value="1922">1922</option><option value="1923">1923</option><option value="1924">1924</option><option value="1925">1925</option><option value="1926">1926</option><option value="1927">1927</option><option value="1928">1928</option><option value="1929">1929</option><option value="1930">1930</option><option value="1931">1931</option><option value="1932">1932</option><option value="1933">1933</option><option value="1934">1934</option><option value="1935">1935</option><option value="1936">1936</option><option value="1937">1937</option><option value="1938">1938</option><option value="1939">1939</option><option value="1940">1940</option><option value="1941">1941</option><option value="1942">1942</option><option value="1943">1943</option><option value="1944">1944</option><option value="1945">1945</option><option value="1946">1946</option><option value="1947">1947</option><option value="1948">1948</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option><option value="2037">2037</option><option value="2038">2038</option><option value="2039">2039</option><option value="2040">2040</option><option value="2041">2041</option><option value="2042">2042</option><option value="2043">2043</option><option value="2044">2044</option><option value="2045">2045</option><option value="2046">2046</option><option value="2047">2047</option><option value="2048">2048</option><option value="2049">2049</option><option value="2050">2050</option><option value="2051">2051</option><option value="2052">2052</option><option value="2053">2053</option><option value="2054">2054</option><option value="2055">2055</option><option value="2056">2056</option><option value="2057">2057</option><option value="2058">2058</option><option value="2059">2059</option></select><span class="arrow"></span><label for="expirience-0-until-month">Уволился</label><div class="bg"></div></div></div><div class="right mobile-no-right mobile-fullsize"><div class="field field-checkbox"><input id="expirience-0-now" type="checkbox" spellcheck="false"><label for="expirience-0-now">настоящее время</label></div></div></div><div class="flexbox mobile-column" style="align-items:center;"><div class="left mobile-no-left" style="width:100%;"><div class="field invalid"><input id="expirience-0-position" type="text" required="required" placeholder="Менеджер по маркетингу и рекламе" spellcheck="false"><label for="expirience-0-position">Должность</label></div></div><div class="right mobile-no-right mobile-fullsize"><div class="field field-checkbox"><input id="expirience-0-fulltime" type="checkbox" spellcheck="false"><label for="expirience-0-fulltime">полная занятость</label></div></div></div><div class="field invalid"><input id="expirience-0-company" type="text" required="required" placeholder="ООО «Спутник», г. Москва" spellcheck="false"><label for="expirience-0-company">Организация</label></div><div class="field last"><textarea rows="4" id="expirience-0-details" type="text" required="required" placeholder="- Мониторинг цен, ценообразование ..." spellcheck="false"></textarea><label for="expirience-0-details">Должностные обязанности и достижения</label></div></section></div>
                        <button id="expirience-add-button" class="button add" title="добавить место работы"></button>
                    </section>
                    <section class="block form" id="form-4">
                        <h3>4. Образование</h3>
                        <p>Расскажите где вы получали образование - это увеличит ваши шансы на трудоустройство</p>
                        <div id="education-list"><section class="border hidden animation mobile-no-border" id="education-0"><div class="actions"><img class="up" src="res/svg/arrows/up.svg" title="Поднять наверх"><img class="down" src="res/svg/arrows/down.svg" title="Опустить вниз"><img class="delete" src="res/svg/actions/delete.svg" title="Удалить"></div><div class="field mobile-school invalid" style="width:90%;"><input id="education-0-school" type="text" required="required" placeholder="Московский институт экономики, менеджмента и права, г. Москва" spellcheck="false"><label for="education-0-school">Учебное заведение</label></div><div class="field invalid"><input id="education-0-department" type="text" required="required" placeholder="Экономический" spellcheck="false"><label for="education-0-department">Факультет</label></div><div class="field"><input id="education-0-specialty" type="text" required="required" placeholder="Экономика предприятия" spellcheck="false"><label for="education-0-specialty">Специальность</label></div><div class="flexbox mobile-column"><div class="left mobile-no-left mobile-fullsize mobile-last" style="width:200px;"><div class="field last"><select id="education-0-year" spellcheck="false"><option value="1900">1900</option><option value="1901">1901</option><option value="1902">1902</option><option value="1903">1903</option><option value="1904">1904</option><option value="1905">1905</option><option value="1906">1906</option><option value="1907">1907</option><option value="1908">1908</option><option value="1909">1909</option><option value="1910">1910</option><option value="1911">1911</option><option value="1912">1912</option><option value="1913">1913</option><option value="1914">1914</option><option value="1915">1915</option><option value="1916">1916</option><option value="1917">1917</option><option value="1918">1918</option><option value="1919">1919</option><option value="1920">1920</option><option value="1921">1921</option><option value="1922">1922</option><option value="1923">1923</option><option value="1924">1924</option><option value="1925">1925</option><option value="1926">1926</option><option value="1927">1927</option><option value="1928">1928</option><option value="1929">1929</option><option value="1930">1930</option><option value="1931">1931</option><option value="1932">1932</option><option value="1933">1933</option><option value="1934">1934</option><option value="1935">1935</option><option value="1936">1936</option><option value="1937">1937</option><option value="1938">1938</option><option value="1939">1939</option><option value="1940">1940</option><option value="1941">1941</option><option value="1942">1942</option><option value="1943">1943</option><option value="1944">1944</option><option value="1945">1945</option><option value="1946">1946</option><option value="1947">1947</option><option value="1948">1948</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option><option value="1998">1998</option><option value="1999">1999</option><option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option><option value="2037">2037</option><option value="2038">2038</option><option value="2039">2039</option><option value="2040">2040</option><option value="2041">2041</option><option value="2042">2042</option><option value="2043">2043</option><option value="2044">2044</option><option value="2045">2045</option><option value="2046">2046</option><option value="2047">2047</option><option value="2048">2048</option><option value="2049">2049</option><option value="2050">2050</option><option value="2051">2051</option><option value="2052">2052</option><option value="2053">2053</option><option value="2054">2054</option><option value="2055">2055</option><option value="2056">2056</option><option value="2057">2057</option><option value="2058">2058</option><option value="2059">2059</option></select><label for="education-0-year">Год окончания</label></div></div><div class="right mobile-no-right mobile-fullsize mobile-no-margin" style="width:300px;"><div class="field last"><select id="education-0-type" spellcheck="false"><option value="0">Очная</option><option value="1">Очно-заочная (вечерняя)</option><option value="2">Заочная</option><option value="3">Дистанционная</option></select><label for="education-0-type">Форма обучения</label></div></div></div></section></div>
                        <button id="education-add-button" class="button add" title="добавить место обучения"></button>
                    </section>
                    <section class="block form" id="form-5">
                        <h3>5. Курсы и тренинги</h3>
                        <p>Если вы занимались самообразованием, укажите где и что вы изучали</p>
                        <div id="training-list"></div>
                        <button id="training-add-button" class="button add" title="добавить тренинг"></button>
                    </section>
                    <section class="block form" id="form-6">
                        <h3>6. Иностранные языки и компьютерные навыки</h3>
                        <section class="border mobile-no-border">
                            <div class="field">
                                <input id="languages" type="text" required="required" placeholder="Английский (разговорный)" spellcheck="false">
                                <label for="languages">Какие иностранные языки вы знаете?</label>
                            </div>
                            <label class="bold">Владение компьютером:</label>
                            <div style="padding: 20px 20px 0 20px;">
                                <div class="field field-checkbox black">
                                    <input id="computer-docs" type="checkbox" checked="checked" spellcheck="false">
                                    <label for="computer-docs">Печать, сканирование, копирование документов</label>
                                </div>
                                <div class="field field-checkbox black">
                                    <input id="computer-internet" type="checkbox" checked="checked" spellcheck="false">
                                    <label for="computer-internet">Интернет</label>
                                </div>
                                <div class="field field-checkbox black">
                                    <input id="computer-email" type="checkbox" checked="checked" spellcheck="false">
                                    <label for="computer-email">Электронная почта</label>
                                </div>
                                <div class="field field-checkbox black">
                                    <input id="computer-word" type="checkbox" spellcheck="false">
                                    <label for="computer-word">Microsoft Word</label>
                                </div>
                                <div class="field field-checkbox black">
                                    <input id="computer-excel" type="checkbox" spellcheck="false">
                                    <label for="computer-excel">Microsoft Excel</label>
                                </div>
                                <div class="field field-checkbox black">
                                    <input id="computer-presentation" type="checkbox" spellcheck="false">
                                    <label for="computer-presentation">Microsoft Power Point</label>
                                </div>
                                <div class="field last">
                                    <input id="computer-other" type="text" required="required" placeholder="Photoshop, CorelDraw, AutoCad" spellcheck="false">
                                    <label for="computer-other">Другое</label>
                                </div>
                            </div>
                        </section>
                    </section>
                    <section class="block form" id="form-7">
                        <h3>7. Дополнительная информация</h3>
                        <section class="border mobile-no-border">
                            <div class="field field-checkbox black" style="display: none;">
                                <input id="other-army" type="checkbox" spellcheck="false">
                                <label for="other-army">Служба в армии</label>
                            </div>
                            <label class="bold">Водительские права (категории):</label>
                            <div class="flexbox mobile-column mobile-driver" style="margin:16px 0;">
                                <div class="field field-checkbox black left">
                                    <input id="other-driver-a" type="checkbox" spellcheck="false">
                                    <label for="other-driver-a">A</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-b" type="checkbox" checked="checked" spellcheck="false">
                                    <label for="other-driver-b">B</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-be" type="checkbox" checked="checked" spellcheck="false">
                                    <label for="other-driver-be">BE</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-c" type="checkbox" spellcheck="false">
                                    <label for="other-driver-c">C</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-ce" type="checkbox" spellcheck="false">
                                    <label for="other-driver-ce">CE</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-d" type="checkbox" spellcheck="false">
                                    <label for="other-driver-d">D</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-de" type="checkbox" spellcheck="false">
                                    <label for="other-driver-de">DE</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-m" type="checkbox" spellcheck="false">
                                    <label for="other-driver-m">M</label>
                                </div>
                                <div class="field field-checkbox black right left mobile-no-right">
                                    <input id="other-driver-tbm" type="checkbox" spellcheck="false">
                                    <label for="other-driver-tbm">TB и TM</label>
                                </div>
                            </div>
                            <div class="field">
                                <textarea rows="3" id="other-recommendations" required="required" placeholder="Укажите название организации, имя и контактные данные представителя, который мог бы порекомендовать вас" spellcheck="false"></textarea>
                                <label for="other-recommendations">Рекомендации</label>
                            </div>
                            <div class="field">
                                <textarea rows="3" id="other-freetime" required="required" placeholder="Фитнес, восточные танцы, горные лыжи, прогулки на велосипеде" spellcheck="false"></textarea>
                                <label for="other-freetime">Ваши занятия в свободное время</label>
                            </div>
                            <div class="field last">
                                <textarea rows="3" id="other-info" required="required" placeholder="Отсутствие вредных привычек, энергичность, инициативность, самостоятельность, ответственность, коммуникабельность, быстрая обучаемость" spellcheck="false">Отсутствие вредных привычек, энергичность, инициативность, самостоятельность, ответственность, коммуникабельность, быстрая обучаемость</textarea>
                                <label for="other-info">Личные качества</label>
                            </div>
                        </section>
                    </section>
                    <section id="struct" class="struct">
                        <ol>
                            <li id="struct-item-1" class=""><span>Основная информация</span></li>
                            <li id="struct-item-2"><span>Личная информация</span></li>
                            <li id="struct-item-3"><span>Опыт работы</span></li>
                            <li id="struct-item-4"><span>Образование</span></li>
                            <li id="struct-item-5"><span>Курсы и тренинги</span></li>
                            <li id="struct-item-6"><span>Иностранные языки и компьютерные навыки</span></li>
                            <li id="struct-item-7"><span>Дополнительная информация</span></li>
                        </ol>
                    </section>


                    <section class="block buttons">

                        <style>
                            #form-next-button {
                            background-color:#A33038;
                            color: rgb(250, 250, 250);
                            }
                        </style>
                        <button id="form-next-button" style="width:100%;" type='submit' class="button yellow">Перейти к просмотру</button>



                    </section>


                    <div class="velum / js-velum"></div>
                    <div class="editor / js-editor">
                        <div class="editor__top / js-editor-top">
                            <div class="editor__image">
                                <img alt="" class="js-editor-image">
                            </div>
                            <div class="editor__shadow editor__shadow--top"></div>
                            <div class="editor__shadow editor__shadow--right"></div>
                            <div class="editor__shadow editor__shadow--bottom">Разместите фотографию в выделенной области</div>
                            <div class="editor__shadow editor__shadow--left"></div>
                        </div>
                        <div class="editor__bottom">
                            <div class="editor__button / js-editor-rotate-button js-form-tooltip" title="Повернуть"><img alt="" src="res/svg/rotate.svg"></div>
                            <div class="editor__button / js-editor-zoomout-button js-form-tooltip" title="Уменьшить"><img alt="" src="res/svg/zoom-out.svg"></div>
                            <div class="editor__button / js-editor-zoomin-button js-form-tooltip" title="Увеличить"><img alt="" src="res/svg/zoom-in.svg"></div>
                            <div class="editor__space"></div>
                            <div class="editor__actions">
                                <div class="editor__cancel / js-editor-cancel-button">Отмена</div>
                                <button class="button yellow editor__apply / js-editor-apply-button">Продолжить</button>
                            </div>
                        </div>

                    
                    </div>
                </div>


                
            




                <div class="page2" id="page2">
                
                    <section id="preview-box" style="height: auto;">
                        <section id="preview" class="preview block" style="transform: none;"><div class="leningrad"><div class="leningrad__head"><div class="leningrad__head__photo"></div><div class="leningrad__head__name" id="preview-fullname"> <span class="marker yellow">Фамилия Имя Отчество</span></div><div class="leningrad__head__salary">полная занятость</div><div class="leningrad__head__contacts"><div class="leningrad__head__contacts__phone"><span>eaf</span></div><div class="leningrad__head__contacts__city"> </div><div class="leningrad__head__contacts__email"><span class="marker yellow">не указано</span></div></div></div><div class="leningrad__group"><div class="leningrad__group__title">Личная информация</div><div class="leningrad__group__lines"><p><b>Гражданство:</b> <i>&nbsp;</i> <span class="marker yellow">не указано</span></p><p><b>Образование:</b> <i>&nbsp;</i> <span>Высшее</span></p><p><b>Дата рождения:</b> <i>&nbsp;</i> <span>17 апреля 2006 (18 лет)</span></p><p><b>Пол:</b> <i>&nbsp;</i> <span>Женский</span></p><p><b>Семейное положение:</b> <i>&nbsp;</i> <span>Не замужем</span></p></div></div><div class="leningrad__group"><div class="leningrad__group__title">Опыт работы</div><div class="leningrad__expirience"><div class="leningrad__expirience__company"><b class="marker yellow">не указано</b><span>апрель 2023 - апрель 2024 (1 год)</span></div><div class="leningrad__expirience__position"><span class="marker yellow">не указано</span></div><div class="leningrad__expirience__details"><p></p><p>sc</p>    <p></p></div></div></div><div class="leningrad__group"><div class="leningrad__group__title">Образование</div><div class="leningrad__education"><div class="leningrad__education__school"><b class="marker yellow">не указано</b><span>2024, очная </span></div><div><span class="marker yellow">не указано</span></div></div></div><div class="leningrad__group"><div class="leningrad__group__title">Дополнительная информация</div><div class="leningrad__info"><div class="leningrad__info__label">Компьютерные навыки:</div><div class="leningrad__info__value">Печать, сканирование, копирование документов, Интернет, Электронная почта</div></div><div class="leningrad__info"><div class="leningrad__info__label">Наличие водительских прав (категории):</div><div class="leningrad__info__value">B, BE</div></div><div class="leningrad__info"><div class="leningrad__info__label">Личные качества:</div><div class="leningrad__info__value"><p></p><p>Отсутствие вредных привычек, энергичность, инициативность, самостоятельность, ответственность, коммуникабельность, быстрая обучаемость</p><p></p></div></div></div></div></section>    
                    </section>
                    <section class="block buttons">
                        <div class="flexbox mobile-column">
                            <button id="preview-back-button" title="Вернуться к форме" class="button white back mobile-last" style="flex-shrink:0;">Назад</button>
                            <div class="is-not-mobile" style="width:100%;"></div>


                         <button  style="flex-shrink:0;width:150px;" class="button yellow right mobile-fullsize mobile-no-right mobile-last" onclick="window.location.href='/'">Сохранить</button>
                        
                        </div>
                    </section>
                </div>





                <div class="page3" id="page3">
                    <section class="block message top alert">
                        Отправьте резюме работодателю прямо с нашего сайта<br class="is-not-mobile"><span class="is-only-mobile">. </span>Мы уведомим вас о доставке и прочтении письма
                    </section>
                    <section class="block border form send mobile-no-border">
                        <div class="field invalid">
                            <input id="email-subject" type="text" required="required" placeholder="">
                            <label for="email-subject">Заголовок письма</label>
                        </div>
                        <div class="field last invalid">
                            <input id="email-to" type="text" required="required" placeholder="employer@gmail.com" style="text-transform:lowercase;">
                            <label for="email-to">Кому (адрес электронной почты работодателя)</label>
                        </div>
                        <div id="send-warning-message" class="warning" style="display: none;">
                            <img src="res/svg/material/round-warning-24px.svg" alt="Предупреждение">Мы не рекомендуем отправлять резюме с нашего сайта на почтовые сервера Mail.RU. Письма могут попасть в СПАМ и адресат их не увидит. Во избежании проблем скачайте резюме на свой компьютер и отправьте его со своей электронной почты
                        </div>
                        <!--
                        <div class="field last">
                            <input id="email-from" type="text" required="required" placeholder="employee@gmail.com" style="text-transform:lowercase;" />
                            <label for="email-from">Обратный адрес для уведомлений (адрес вашей электронной почты)</label>
                        </div>
                        -->
                        <div id="send-loading" class="loading" style="display: none;">
                            <div class="spinner"></div>
                        </div>
                        <div id="send-success-message" class="success" style="display: none;">
                            <div class="title">Ваше резюме отправлено</div>
                            <div id="send-email-result" class="desc"></div>
                            <div class="i-box"><div class="i"></div></div>
                            <button id="send-success-repeat" class="button yellow">Вернуться</button>
                        </div>
                        <div id="send-error-message" class="error" style="display: none;">
                            <div class="title">Не удалось отправить резюме</div>
                            <div class="desc">Если ошибка повторяется, напишите нам в <a href="/feedback/">обратную связь</a>. Мы обязательно всё починим!</div>
                            <div class="i-box"><div class="i"></div></div>
                            <button id="send-error-repeat" class="button yellow">Повторить</button>
                        </div>
                    </section>
                    <section class="block buttons">
                        <div class="flexbox mobile-column">
                            <button id="send-back-button" title="Вернуться к просмотру" class="button white back mobile-last" style="flex-shrink:0;">Назад</button>
                            <div style="width:100%;" class="is-not-mobile"></div>
                            <button id="send-apply-button" title="Вы можете отправить резюме на электронную почту вашего работодателя прямо с нашего сайта" style="flex-shrink:0;width:150px;" class="button yellow right mobile-fullsize mobile-no-right" disabled="">Сохранить</button>
                        </div>
                    </section>
                </div>
            </div>


            <section class="block">


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-11455094-4', 'auto');
ga('send', 'pageview');
</script>

<script async="" src="https://www.googletagmanager.com/gtag/js?id=AW-760152099"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'AW-760152099');
</script>
    <script src="res/js/main.js?r=27062"></script><iframe allow="join-ad-interest-group" data-tagging-id="AW-760152099" data-load-time="1713388432864" height="0" width="0" src="https://td.doubleclick.net/td/rul/760152099?random=1713388432857&amp;cv=11&amp;fst=1713388432857&amp;fmt=3&amp;bg=ffffff&amp;guid=ON&amp;async=1&amp;gtm=45be44f0za200&amp;gcd=13l3l3l3l1&amp;dma=0&amp;u_w=1536&amp;u_h=864&amp;url=https%3A%2F%2Fsimpledoc.ru%2Fresume%2F&amp;ref=https%3A%2F%2Fsimpledoc.ru%2Fresume%2Fexamples%2F&amp;hn=www.googleadservices.com&amp;frm=0&amp;tiba=%D0%9E%D0%B1%D1%80%D0%B0%D0%B7%D0%B5%D1%86%20%D1%80%D0%B5%D0%B7%D1%8E%D0%BC%D0%B5%20%D0%BD%D0%B0%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%83%3A%20%D0%B7%D0%B0%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%20%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD%20%D1%80%D0%B5%D0%B7%D1%8E%D0%BC&amp;npa=0&amp;pscdl=noapi&amp;auid=671411687.1713382348&amp;uaa=x86&amp;uab=64&amp;uafvl=Google%2520Chrome%3B123.0.6312.123%7CNot%253AA-Brand%3B8.0.0.0%7CChromium%3B123.0.6312.123&amp;uamb=0&amp;uam=&amp;uap=Windows&amp;uapv=10.0.0&amp;uaw=0&amp;fledge=1&amp;data=event%3Dgtag.config" style="display: none; visibility: hidden;"></iframe>

<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div></body></html>