<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>
        dfghjkl;
    </h5>
    <h4 class="my-0 font-weight-normal"><%=info.surname%> <%=info.name%> <%=info.middle_name%></h4>
</body>
</html>